project_name: Video-Claw
server:
  host: 127.0.0.1
  port: 8000
  log_level: INFO
  access_log: false
api_providers:
  common:
    print_model_input: false
    proxy: ''
  openai:
    api_key: ''
    base_url: https://api.openai.com/v1
    enable_proxy: false
  gemini:
    api_key: ''
    base_url: https://generativelanguage.googleapis.com/v1beta
    enable_proxy: false
  deepseek:
    api_key: ''
    base_url: https://api.deepseek.com/v1
    enable_proxy: false
  dashscope:
    api_key: ''
    base_url: https://dashscope.aliyuncs.com/api/v1
    enable_proxy: false
  ark:
    api_key: ''
    base_url: https://ark.cn-beijing.volces.com/api/v3
    enable_proxy: false
  kling:
    base_url: https://api-beijing.klingai.com
    access_key: ''
    secret_key: ''
    enable_proxy: false
models:
  llm: qwen3.5-plus
  vlm: qwen3.5-plus
  image_it2i: doubao-seedream-5-0-260128
  image_t2i: doubao-seedream-5-0-260128
  video: wan2.7-i2v
  video_first_frame: wan2.7-i2v
  video_start_end: wan2.7-i2v
  video_reference: wan2.7-r2v
generation:
  style: realistic
  video_ratio: '16:9'
  video_resolution: 720P
  video_generation_mode: first_frame
